body {
  background-color: gainsboro;
}

.cards {
  font-size: 32px;
  width: 100px;
  height: 100px;
  background-color: lightskyblue;
  margin: 10px;
  text-align: center;
  content-visibility: hidden;
  transition: 0.7s;
}

a {
  text-decoration: none;
}

.start,
.back {
  font-size: 2rem;
  text-align: center;
}

#start {
  margin: 20px;
  border-radius: 7px;
  font-size: 2rem;
}

.hidden {
  display: none;
}

#timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
  font-size: 2rem;
  text-align: center;
}

.menu {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* margin-top: 20%; */
  font-size: 5rem;
  text-align: center;
}

.cards span {
  position: relative;
  top: 30px;
}

.single_card {
  background-color: blue;
  content-visibility: visible;
  transition: 0.7s;
}

.single_card2 {
  background-color: green;
  content-visibility: visible;
  transition: 0.7s;
}

.row_6 {
  display: flex;
}

.container__cards {
  margin-left: 350px;
  max-width: 800px;
  display: flex;
  flex-wrap: wrap;
}

.hide_cards {
  background-color: gainsboro;
  content-visibility: hidden;
}

tr td {
  border: 1px solid black;
  border-style: dotted;
  border-radius: 5px;
  padding: 15px;
  text-align: left;
  font-size: 2rem;
}

tr th {
  padding: 18px;
  text-align: center;
  font-size: 3rem;
}

.container-table-records {
  display: flex;
  justify-content: center;
}

#main_menu_item {
  text-align: center;
  margin: 30px;
  font-size: 2rem;
}

table {
  border: 2px solid black;
  border-radius: 7px;
}
